@import '../../../styles/settings.scss';
.home {
    justify-content: space-around;
    display: flex;
}
.table {
    background-color: $color-background;
    width: 40%;
    text-align: center;
}
    
