$color-light: #fff;
$color-dark: black;
$color-success: #26de81;
$color-warning: #e1644e;
$color-background: #6f6c6c;
$color-ingredients: rgba(72, 40, 35, 0.4);

$font-text: 'Poppins', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
