@import '../../styles/settings.scss';

.skeletor {
  display: flex;
  width: 100%;
  justify-content: space-around;
  h3 {
    text-align: left;
  }
  .column {
    text-align: center;
    width: 40%;
  
  }
}
.droppablecol {
  width: 100%;
  height: 50vh;
  background-color: grey;
  padding: 10px;
}

.component {
  padding: 10px;

}


.title {
  padding: ($base-size * 3) 0;
  text-align: center;
  font-size: ($base-size * 3);
  text-transform: uppercase;
}

.subtitle {
  padding: ($base-size * 2) 0;
  text-align: center;
  font-size: ($base-size * 2);
  font-style: italic;
  font-weight: normal;
}

.title + .subtitle {
  margin-top: (- $base-size * 3);
}
